# Predicción de insuficiencia cardíaca

In [271]:
import warnings
warnings.simplefilter("ignore")

import pandas as pd # importo pandas para la visualizacion de los datos

In [272]:
data = pd.read_csv('heart.csv') # cargo los datos

# Descripción de las columnas con las que vamos a trabajar

In [273]:
data.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

age = edad del paciente

anaemia = presencia de anemia 0 = No, 1 = Sí, La anemia es el resultado de la falta de glóbulos rojos en la sangre

creatinine_phosphokinase = Nivel de creatina fosfocinasa en la sangre es una enzima que se encuentra predominantemente en el corazón se mide en microgramos

diabetes = Si el paciente tiene diabetes 0 = No, 1 = Sí

ejection_fraction = Porcentaje de sangre que sale del corazón en cada contracción

high_blood_pressure = Si el paciente tiene hipertensión 0 = No, 1 = Sí

platelets = Plaquetas en la sangre Ayudan a producir coágulos sanguíneos para hacer más lento el sangrado o frenarlo y para facilitar la cicatrización de las heridas se mide en microlitros.

serum_creatinine = Nivel de creatinina sérica en la sangre (mg).

serum_sodium = Nivel de sodio sérico en la sangre

sex = Genero 0 = MUJER, 1 = HOMBRE

smoking = Si el paciente fuma 0 = No, 1 = Sí

time = Período de seguimiento DIAS

DEATH_EVENT = Si el paciente falleció durante el período de seguimiento  0 = No, 1 = Sí (variable objetivo)

In [274]:
data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [275]:
data.describe() # un resumen estadistico de como estan los datos

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

mediante una regresión lasso voy averiguar que columnas del dataset son las que aportan mas información
para el modelo de predicción

In [336]:
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split

In [337]:
# declaro X,Y para dividir los datos y entrenar el modelos

In [338]:
X = data.drop(['DEATH_EVENT'],axis = 1)
y = data[['DEATH_EVENT']]
print(X.shape)
print(y.shape)

(299, 12)
(299, 1)

In [339]:
# divido los datos para lasso
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25,random_state=0)

In [344]:
regressor_lasso = Lasso(alpha=0.04).fit(X_train,y_train)# entre mas grande el alpha mas penalizacion con las columnas (lasso con los datos de entrenamiento)

In [345]:
regressor_lasso.coef_

array([ 6.58738840e-03,  0.00000000e+00,  4.70773157e-05,  0.00000000e+00,
       -1.03877616e-02, -0.00000000e+00, -4.00214507e-08,  1.00949609e-02,
       -8.07630315e-03, -0.00000000e+00, -0.00000000e+00, -2.79612549e-03])

el vector de coeficientes del la regresor lasso me indica que las variables que son igual a cero son las que menos
informacion nos aportan para el modelo y las que mas ruido hacen y esto podria afectar la prediccion o hacerla
menos precisa.

las variables que mas informacion aportan son:
    
    age
    
    creatinine_phosphokinase
    
    ejection_fraction
    
    platelets
    
    serum_creatinine
    
    serum_sodium
    
    time

# con las columnas del dataset con mas informacion que arrojo lasso divido nuevamente los datos para entrenar el modelo

In [282]:
X = data[['age', 'creatinine_phosphokinase', 'ejection_fraction', 'platelets','serum_creatinine','serum_sodium','time']]
y = data[['DEATH_EVENT']]

ahora voy a implementar el modelo de regresión logistica para hacer las predicciónes y para mejorar aun mas
la presición de modelo voy a disminur la varianza en los datos mediante el ensamblador bagging

In [283]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import BaggingClassifier
from sklearn.metrics import accuracy_score

In [310]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [311]:
logistic_regression = LogisticRegression().fit(X_train, y_train)
logistic_pred = logistic_regression.predict(X_test)
print('')
print('Accuracy logistic regresion:', accuracy_score(y_test,logistic_pred))
print('')

Accuracy logistic regresion: 0.8666666666666667

# ahora voy a tomar registros al azar del dataset para hacer predicciones con datos aleatorios

In [329]:
new_patients = data.sample(10)
new_patients

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
51,53.0,1,91,0,20,1,418000.00,1.40,139,0,0,43,1
21,65.0,1,128,1,30,1,297000.00,1.60,136,0,0,20,1
257,58.0,0,132,1,38,1,253000.00,1.00,139,1,0,230,0
132,46.0,0,719,0,40,1,263358.03,1.18,137,0,0,107,0
277,70.0,0,582,1,38,0,25100.00,1.10,140,1,0,246,0
280,70.0,0,2695,1,40,0,241000.00,1.00,137,1,0,247,0
8,65.0,0,157,0,65,0,263358.03,1.50,138,0,0,10,1
23,53.0,0,63,1,60,0,368000.00,0.80,135,1,0,22,0
176,69.0,0,1419,0,40,0,105000.00,1.00,135,1,1,147,0
74,69.0,0,582,0,20,0,266000.00,1.20,134,1,1,73,1

In [330]:
# de los registros al azar me traingo las variables mas importantes para el modelo
predictions = new_patients[['age', 'creatinine_phosphokinase', 'ejection_fraction', 'platelets','serum_creatinine','serum_sodium','time']]

In [458]:
logistic_predictions = logistic_regression.predict(predictions) # hago la prediccion

# Recordemos que cuando nos arroja 0 es por que el paciente no tienen peligro, en cambio si arroja 1 el paciente esta en peligro de muerte por enfermedad cardiaca

comparo las predicciónes que arrojo la regresión logistica con el DEATH_EVENT del dataset

In [478]:
logistic_predictions

array([1, 1, 0, 0, 0, 0, 0, 0, 0, 1])

In [461]:
new_patients['DEATH_EVENT']

51     1
21     1
257    0
132    0
277    0
280    0
8      1
23     0
176    0
74     1
Name: DEATH_EVENT, dtype: int64

como se puede ver el algoritmo de regresión logistica acerto en la mayoria de las predicciónes

# Y por ultimo creo un diccionario con los nombres de las variables que arrojo el modelo lasso para hacer la predicción de una sola persona.

In [472]:
new_patient = {'age':[28], 
            'creatinine_phosphokinase':[159], 
            'ejection_fraction':[30], 
            'platelets':[270000.0],
            'serum_creatinine':[1.3],
            'serum_sodium':[137],
            'time':[15]}

In [473]:
my_blood = pd.DataFrame(new_patient) # combierto el diccionario en un dataset de un solo registro
my_blood

,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time
0,28,159,30,270000.0,1.3,137,15

In [480]:
my_result = logistic_regression.predict(my_blood)
print('el resultado de la predicción es ', my_result)

el resultado de la predicción es  [1]